:root {
  --general-font-color: #434455;
  --dark-color: #2e2f42;
  --white-color: #ffffff;
  --light-color: #f4f4fd;
  --accent-color: #e7e9fc;
  --success-color: #31d0aa;
  /* OCEAN */
  --pressed-state-color: #404bbf;
  /* IRIS */
  --primary-brand-color: #4d5ae5;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  color: var(--general-font-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ======================= Utilites ========================== */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
}

.btn:hover,
.btn:focus {
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid rgb(240, 139, 240); */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ======================= /Utilites ========================== */
/* ======================= Components section ========================== */

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  margin-right: 76px;
}

.logo-link-theame-dark {
  color: var(--dark-color);
}

.logo-link-theame-light {
  color: var(--light-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.section-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.section-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--general-font-color);
}

.social-list {
  margin-top: 8px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-link {
  background-color: var(--primary-brand-color);
  color: var(--light-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ======================= /Components section ========================== */

/* ======================= Header section ========================== */

.header-section {
  padding-top: 24px;
  padding-bottom: 0px;
  border-bottom: 1px solid var(--accent-color);

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-section-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: baseline;
}

.menu {
  display: flex;
  align-items: baseline;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.contacts-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 20px;
  border-radius: 2px;
  background-color: var(--pressed-state-color);
}

.active {
  color: var(--pressed-state-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  align-items: center;
}

.contacts-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--general-font-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-state-color);
}

/* ======================= /Header section ========================== */

/* ======================= Hero section ========================== */
.hero-section {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wraper {
  text-align: center;
}

.hero-title {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  /* text-align: center; */
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state-color);
}

/* ======================= /Hero section ========================== */

/* ======================= About section ========================== */
.about-section {
  background-color: var(--white-color);
}

.about-list {
  display: flex;
  gap: 24px;
}

.about-item {
  flex-basis: calc((100% - 72px) / 4);
}

.about-svg-wraper {
  background: var(--light-color);
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-svg {
  height: 64px;
  margin-left: auto;
  margin-right: auto;
}

/* ======================= /About section ========================== */

/* ======================= Work section ========================== */
.work-section {
  background-color: var(--white-color);
  padding-top: 0;
}

.work-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.work-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* ======================= /Work section ========================== */

/* ======================= Team section ========================== */

.team-section {
  background-color: var(--light-color);
}

.team-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.team-list-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
}

.team-content-wraper {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-item .section-item-title,
.team-list-item .section-item-text {
  text-align: center;
}

/* ======================= /Team section ========================== */

/* ======================= Portfolio section ========================== */

.portfolio-section {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-menu-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  padding: 12px 24px;
  background: var(--light-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-btn:hover,
.portfolio-menu-btn:focus {
  background: var(--pressed-state-color);
  color: var(--white-color);
  border: 1px solid var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-item-link {
  display: block;
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-link:hover .portfolio-item-overlay,
.portfolio-item-link:focus .portfolio-item-overlay {
  transform: translate(0, 0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content-wraper {
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  text-align: left;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.portfolio-item-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-item-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow-y: auto;
  transform: translate(0, 100%);
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  background-color: rgba(77, 90, 229, 0.9);
  color: var(--light-color);
}
/* ======================= /Portfolio section ========================== */

/* ======================= Customers section ========================== */
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-section .section-title {
  line-height: 1.1;
}

.customers-item {
  flex-basis: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--pressed-state-color);
  color: var(--pressed-state-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-svg {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

.customers-link:hover .customers-svg,
.customers-link:focus .customers-svg {
  fill: currentColor;
}

/* ======================= Customers section ========================== */

/* ======================= Footer section ========================== */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-section {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-left-side {
  margin-right: 120px;
}

.footer-center {
  margin-right: 80px;
}

.footer-text {
  width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}

.footer-section .social-list {
  margin-top: 8px;
  gap: 16px;
}

.footer-section .social-link {
  background-color: var(--primary-brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section .social-icon {
  fill: var(--light-color);
}

.footer-section .social-link:hover,
.footer-section .social-link:focus {
  background-color: var(--success-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-label {
  display: block;
}

.subscribe-email {
  width: 264px;
  margin-right: 24px;
  padding: 8px 16px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  background-color: transparent;
  border-radius: 4px;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--pressed-state-color);
}

.subscribe-btn-icon {
  fill: currentColor;
}

/* ======================= /Footer section ========================== */

/* ======================= /Modal ========================== */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 408px;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: scale 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  margin-right: 24px;
  margin-top: 24px;
  background-color: var(--accent-color);
  border-radius: 50%;
  color: var(--dark-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
  border: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-icon {
  fill: currentColor;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  scale: 50%;
  transform: translate(-100%, -100%);
  transition: scale 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ======================= /Modal ========================== */

/* ======================= /Form ========================== */

.form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.filed-wrapper {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  color: var(--dark-color);
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  display: block;
  width: 100%;
  padding: 11px 16px 11px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.form-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}

.form-input:focus ~ .form-input-icon {
  fill: var(--primary-brand-color);
}

.form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.form-span-checkbox {
  margin-right: 8px;
}

.form-checkbox-label a {
  color: var(--primary-brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-label a:hover,
.form-checkbox-label a:focus {
  color: var(--pressed-state-color);
}

.form-checkbox:focus + .form-span-checkbox {
  outline: 1px solid var(--pressed-state-color);
}

.form-span-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.form-checkbox:checked + .form-span-checkbox {
  border: 1px solid var(--pressed-state-color);
  background-color: var(--pressed-state-color);
}

.form-checkbox-icon {
  fill: var(--white-color);
}

.form-btn {
  display: block;
  width: 169px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--pressed-state-color);
}

/* ======================= /Form ========================== */
